<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="assets/logolong.png">
    </a>
  </div>
  <div class="nav-center">
    <a class="nav-item" href="https://www.github.com/aplai168">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item" href="https://twitter.com/aplai168">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>
  <span class="nav-toggle">
  </span>
  <div class="nav-right nav-menu">
    <a class="nav-item">
      Back to Portfolio Page
    </a>
    <a class="nav-item" href="https://www.medium.com/@aplai168">
      My Blog
    </a>
  </div>
</nav>
