body {

}

.top {
  padding: 50px 20px 20px;
}
h1 {
	font-family: 'Verdana';
	font-size: 80px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26.4px;
  color: 'black';
}
ul {
	font-family: 'Allerta Stencil';
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: #FEFEFE;
}

ul, .pray {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd !important;
}
.prayerItem, .pray {
  color: #FEFEFE;
}

.pray, .prayerItem {
    width: 100%;
    padding: 10px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .glyphicon{
          transition: all .5s;
          &.glyphicon-heart{
            color: #e74c3c;
          }
          &.glyphicon-heart-empty{
            &:hover{
              transform:scale(1.1);
            }
          }
        }



        .post {
          position: relative;
          padding: 20px;
          flex-basis: auto;
        }

        .post__category {
          font-size: .8rem;
          text-transform: uppercase;
        }

        .post__title {
          font-size: 1.8rem;
          font-weight: 600;
          margin: 20px 0 10px;
        }

        .post__content {
          font-size: 1.3rem;
          margin-bottom: 50px;
          color: #FFFFFF;
        }

        .post__user {
          font-size: .8rem;
          margin-bottom: 10px;
          bottom: 20px;
          color: #FFFFFF;
        }

        .post__time {
          font-size: .8rem;
          margin-bottom: 10px;
          color: #FFFFFF;
        }

        .verse {
          font-size: 1.3rem;
          margin-bottom: 50px;
          color: 'black';
        }

        .post__category,
        .post__permalink {
          color: #4a4a4a;
          text-decoration: underline;
        }

        .post__permalink {
          position: absolute;
          bottom: 20px;
        }

        .fb-auto {
          flex-basis: auto;
        }

        .pink {
          background: #ffdae0;
        }

        .gray {
          background: #e7f0da;
        }

        .green {
          background: #ddebd0;
        }

        .gold {
          background: #fcf5b6;
        }

        .blue {
          background: #cae9ef;
        }

        .red {
          background: #f8c9c1;
        }

        .aqua {
          background: #42f4f1;
        }

        .magenta {
          background: #f4418c;
        }

        .electric {
          background: #4c41f4;
        }
.position1 {
  position: absolute;
  top: 35px;
  left: 170px;
}

.bubble
{
position: relative;
top: 100px;
left: 200px;
width: 500px;
height: 120px;
padding: 0px;
margin: 100px;
background: #4c41f4;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #4c41f4 solid 9px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 24px 15px 0;
border-color: #4c41f4  transparent;
display: block;
width: 0;
z-index: 1;
bottom: -24px;
left: 33px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 32px 23px 0;
border-color: #4c41f4  transparent;
display: block;
width: 0;
z-index: 0;
bottom: -41px;
left: 25px;
}

.instructions {
  width: 300px;
  margin: auto;
}

.center {
    width: 560px; /* you have to have a size or this method doesn't work */
    height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

    /*position: absolute; /* positions out of the flow, but according to the nearest parent */*/
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */

}
