body {

}

.top {
  padding: 50px 20px 20px;
}
h1 {
	font-family: 'Verdana';
	font-size: 80px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 26.4px;
  color: 'black';
}
ul {
	font-family: 'Allerta Stencil';
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  color: #FEFEFE;
}

ul, .pray {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd !important;
}
.prayerItem, .pray {
  color: #FEFEFE;
}

.pray, .prayerItem {
    width: 100%;
    padding: 10px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .glyphicon{
          transition: all .5s;
          &.glyphicon-heart{
            color: #e74c3c;
          }
          &.glyphicon-heart-empty{
            &:hover{
              transform:scale(1.1);
            }
          }
        }



        .post {
          position: relative;
          padding: 20px;
          flex-basis: auto;
        }

        .post__category {
          font-size: .8rem;
          text-transform: uppercase;
        }

        .post__title {
          font-size: 1.8rem;
          font-weight: 600;
          margin: 20px 0 10px;
        }

        .post__content {
          font-size: 1.3rem;
          margin-bottom: 50px;
        }

        .post__category,
        .post__permalink {
          color: #4a4a4a;
          text-decoration: underline;
        }

        .post__permalink {
          position: absolute;
          bottom: 20px;
        }

        .fb-auto {
          flex-basis: auto;
        }

        .pink {
          background: #ffdae0;
        }

        .gray {
          background: #e7f0da;
        }

        .green {
          background: #ddebd0;
        }

        .gold {
          background: #fcf5b6;
        }

        .blue {
          background: #cae9ef;
        }

        .red {
          background: #f8c9c1;
        }

        .aqua {
          background: #42f4f1;
        }

        .magenta {
          background: #f4418c;
        }

        .electric {
          background: #4c41f4;
        }
